.icon-48-comics {
      background-image: url(../images/l_comics.png);
      padding-left:60px!important;
}

.icon-48-comic {
      background-image: url(../images/l_comics.png);
      padding-left:60px!important;
}

.icon-48-chapters {
      background-image: url(../images/l_chapters.png);
      padding-left:60px!important;
}

.icon-48-chapter {
      background-image: url(../images/l_chapters.png);
      padding-left:60px!important;
}

.icon-48-pages {
      background-image: url(../images/l_pages.png);
      padding-left:60px!important;
}

.icon-48-page {
      background-image: url(../images/l_pages.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}